body,html{background:#171717;padding:0;margin:0;width:100%;height:100%;zoom:100%;}

#header{background: #111;width:100%;height:40px;display: flex;align-items: center;justify-content: center;font-family: Segoe UI;}
#header p{color:#fff;}
y0{color:#CE9430}
.logo{
    width:20%;
    height:80px;
    margin-left:80px;
    position: relative;
    padding:0;
}
#xuanna{
	user-select: none;
	font-family:Priva Two;
	font-weight:200;
	color:white;
	opacity: 1;
	position: fixed;
	top:6%;
	left:13%;
	width: 20%;
	transform: scale(1.4,1.3);
}
#design{
	user-select: none;
	font-family: Agency FB;
	font-weight: 300;
	color:#EDBF40;
	position: fixed;
	top:10.5%;
	left: 6.4%;
	width: 11%;
	transform: scale(0.51,0.35);
}

#main{width:100%;margin-top:20px;}
#mtop{height:100px;}
#mtop div{color:#fff;font-size:30px;font-family: Segoe UI;position:relative;}
#mtop div img{position:absolute;left:100px;top:7px;width:45px;}
#img2{display:none;}
#mtop div a{margin-left:160px;cursor:pointer;}
#f2{opacity:0.6}
#mbottom{display:flex;width:100%;}
#mbottomleft{width:40%;color:white;font-family: Segoe UI;position: relative;margin-left:160px;}
#h1{left:0px;font-weight: 100;font-size:25px}
#h2{left:0px;font-weight: 100;font-size:25px}
#h2{display:none;}
y{color:#F9E17E;}
#mbottomleft input,label{font-size:22px;cursor:pointer;}
.locdiv{margin:0px;padding:0px;display:flex;align-items: center;}
.locdiv div{width:20px;height:20px;border:2px solid #cacaca;margin-right:10px;display: flex;align-items: center;justify-content: center;}
.locdiv div img{ width:70%;display:none;}
#mbottomright{padding:30px 0px 0px 60px;width:36%;position: relative;}
#mbottomright f{color:#fff;font-family:Segoe UI;font-size:26px}
#mbottomright #locc{bottom:80px;position:relative}
#mbottomright input{color:#fff;border:1px solid #fff;background: none;font-size:26px;outline: none;margin-bottom:20px;width:73%;}
#mbottomright textarea{background: none;font-size:21px;color:#fff;font-family: Segoe UI;border:1px solid white;outline: none;resize:none;width:73%;height:100px}
#mbottomright span{color:#777;font-family:Segoe UI;font-size:24px;position:absolute;right:0px;bottom:110px}
#mbottomright a{color:#E28B1A;font-family:Segoe UI;font-size:34px;position:absolute;right:0;bottom:67px}
#mbottomright button{background: black;color:#E28B1A;border:0;outline:none;padding:16px;cursor:pointer;width:100%;font-size:28px;margin-top:62px;align-items: center;justify-content: right;}

@font-face{
	font-family: Priva Two;
	src: url("../../../../fonts/PrivaTwoPro.otf");
}
@font-face{
	font-family: Swis721 BlkCn BT;
	src: url("../../../../fonts/swiss 721 black condensed bt.ttf");
}
