html,body{border:0;margin:0;width:100;background: #08091d;}
#all{display:flex}
#header{width:10%;padding:20px;align-items: center;justify-content: center;}
#navg{width:100%;}
#navg div{transition: all .3s; position:relative; cursor:pointer;margin-bottom: 30px;background: #0f1132;width:38%;border-radius: 12px;align-items: center;justify-content: center;padding:5px;}
#navg div:hover a{display: block;opacity:100%;}
#navg div:hover{width: 100%;}
#navg img{width:50px;height:50px;position: relative;left:0;}
#navg div a{transition: all .3s;opacity:0%;top:35%;left:40%;position:absolute;display:none;font-weight: bold;font-family: arial; font-size:18px;color:#e3e4f8;text-decoration:none;}
#navg div:target img{  filter: invert(48%) sepia(10%) saturate(3207%) hue-rotate(190deg) brightness(80%) contrast(120%);}
#navg div:target a{color:#3745c5;}

#main{height:200px;width:90%;background: #0f1132;}
#main input{background: transparent; outline: none;border:1px solid #3745c5;color:aqua;padding:10px;width:20%;}
::placeholder{color:aqua;}