@charset "utf-8";

body,html{
	background-color:black;
	zoom:100%;
	height: 100%;
	width: 100%;
}

body{overflow: hidden;}
button{
	padding-right:100px;
	padding-bottom: 75px;
	margin:0;
	border:1px solid #858585; 
	border-radius: 5px;
	
	width: -webkit-min-content;
	
	background:-webkit-gradient(linear, left top, left bottom, from(black), to(black));
	transition-duration: .2s;
	
	width: 275px;
	height: 150px;
}
#xuanna{
	user-select: none;
	font-family:Priva Two;
	font-weight:200;
	color:white;
	
	position: fixed;
	top:8%;
	left:13%;
	width: 20%;
	transform: scale(1.4,1.3);
}
#design{
	user-select: none;
	font-family: Agency FB;
	font-weight: 300;
	color:#EDBF40;

 	opacity: 1;
	position: fixed;
	top:12%;
	left: 6.6%;
	width: 10%;
	transform: scale(0.51,0.35);
}

.buttons{
	
	
	display: grid;
	grid-template-columns:430px 430px 430px;
	grid-template-rows: 230px;
	
	
	font-family: Priva Two;
	-webkit-text-stroke:1px #646464;
	
	transition-duration: .2s;
	
	position: absolute;
	top:28%;
	left:9%;
	width: 995px;
	height: 381px;
	
}
/*#button1{
	
	top:110%;
	left:0%;
	
}
#button2{

	top:0%;
	left:38.4%;

}
#button3{
	
	top:0%;
	left:76.8%;
}
#button4{

	top:63.2%;
	left:0%;

}
#button5{

	top:63.2%;
	left:38.4%;

}
#button6{

	top:63.2%;
	left:76.8%;

}*/

h2{	font-size: 24.2px;
position: absolute;
}

#word1{
	top:0%;
	left: 2%;
	}
#word2{
	top:0%;
	left: 45.5%;
	}
#word3{
	top:0%;
	left: 88.5%;
	}
#word4{
	top:60%;
	left: 2%;
	}
#word5{
	top:60%;
	left: 45.5%;
	}
#word6{
	top:60%;
	left: 88.5%;
	}

@-webkit-keyframes buttons{
	0%{opacity: 0;user-select: none;}
	92%{opacity: 0;user-select: none;}
	100%{opacity: 1;}
	
}

#ru{
	position: absolute;
top:16.5%;
left:89.3%;
width: 10px;
height: 10px;
	
	padding: 0;
	border:none;
	margin:0;

-webkit-text-stroke:1px #646464 ;
	
font-family: Swis721 BlkCn BT;
font-weight: 700;
font-size: 35px;
	
}
#ru:hover{
	color:#E6C20E;
	-webkit-text-stroke:0px #646464 ;
}
#az{
position: absolute;
top:11.5%;
left:89.6%;
width: 5px;
height: 5px;
	
	padding: 0;
	border:none;
	margin:0;

-webkit-text-stroke:1px #646464 ;
	
font-family: Swis721 BlkCn BT;
font-weight: 700;
font-size: 35px;
	
}
#az:hover{
	color:#E6C20E;
	-webkit-text-stroke:0px #646464 ;
}
button:hover{
	color: #EDBF40;
	-webkit-text-stroke:0px #E6C20E ;
	border:1px solid #E6C20E;
	width: 300px;
	height: 175px;
	
	transition: width .35s,height .25s;

}

button:active{
	border: none;
	outline: none;
}


button:focus{outline: none;}

@font-face{
	font-family: Priva Two;
	src: url("../fonts/PrivaTwoPro.otf");
}
@font-face{
	font-family: Swis721 BlkCn BT;
	src: url("../fonts/swiss 721 black condensed bt.ttf");
}



